
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" ng-init="init()" >
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
      	<!-- <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="graphicInfo()">Graphics</button></a></li> -->
       	<li ng-sec="Leads" role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="leadTypeInfo()">Leads</button></a></li>
      	<li ng-sec="Emails" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="newsLetterSetting()">Email</button></a></li>
      	<li ng-sec="Documentation" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="documentationSetting()">Documentation </button></a></li>
      	<li ng-sec="Marketing" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="socialMedia()">Marketing</button></a></li>
       	<!-- <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="autoPortal()">Auto Portals </button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="plansAndBill()">Plans & Billing </button></a></li> -->
       		<li ng-sec="Domain" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="domainDetails()">Domain </button></a></li>
 <li ng-sec="Forms" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="form()">Forms </button></a></li>
 <li ng-sec="System Setting Website Analytics" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="websiteAnalytics()">Website Analytics</button></a></li>
  </ul>
    <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
      
       <!-- <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="premiumLeadsInfo()">Premium Leads</button></a></li> --> 
      <li ng-sec="Leads" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="leadTypeInfo()">Lead type</button></a></li>
      <li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="customerRequest()">Online Requests</button></a></li>
    </ul>
			<div class="col-sm-12" style="margin-top: 30px;">
				<form ng-submit="saveSalesPersonsData()">
					<div class="col-sm-12" style ="font-size: 20px;">
					
						<input style="width:17px;height:17px;" type="radio" id="allOnlineRequest" name="duration" ng-model="customerReq.redirectValue" value="Redirect all online requests to" ng-checked="true" ng-click="redirestRequest('Redirect all online requests to')" > Redirect all online requests to
							<div ng-if="customerReq.redirectValue == 'Redirect all online requests to'">
									<div class="col-sm-12" style ="font-size: 20px;">
										<input style="width:17px;height:17px;" type="radio" id="allSalesPeople" name="personsData" ng-model="customerReq.personValue" value="Me and all Sales people" ng-click="personsWiseData('Me and all Sales people')"> Me and all Sales people
									</div>
									<div class="col-sm-12" style ="font-size: 20px;">
										<input style="width:17px;height:17px;" type="radio" id="mySelf" name="personsData" ng-model="customerReq.personValue" value="Myself" ng-click="personsWiseData('Myself')" > Myself
									</div>
									<div class="col-sm-12" style ="font-size: 20px;">
										<input style="width:17px;height:17px;" type="radio" id="salesPerson" name="personsData" ng-model="customerReq.personValue" value="Sales Person(s)" ng-click="personsWiseData('Sales Person(s)')"> Sales Person(s)
									</div>
									
							</div>
							<div ng-if="customerReq.personValue == 'Sales Person(s)' && customerReq.redirectValue == 'Redirect all online requests to'">
									<div class="col-sm-12" style ="font-size: 20px;margin-left: 40px;" ng-repeat="name in salesPersonName">
											<input style="width:17px;height:17px;" type="radio" name="allSalesPersonsData" ng-model="customerReq.firstName" value="{{name.firstName}}" ng-click="saveCustomerData(name)"> {{name.firstName}} {{name.lastName}}
									</div>
							</div>
					</div>
					<div  class="col-sm-12" style ="font-size: 20px;">
						<input style="width:17px;height:17px;" type="radio" id="customerRequest" name="duration" ng-model="customerReq.redirectValue" value="Automatically redirect an online customer requests based on" ng-click="redirestRequest('Automatically redirect an online customer requests based on')"> Automatically redirect an online customer requests based on
							<div class="col-sm-12" ng-if="customerReq.redirectValue == 'Automatically redirect an online customer requests based on'">
									<div class=""></div>
									<div class="col-sm-2" Style = "padding: 15px;">
										<select id="customerRequest" ng-change="getAutomatically(customerReq.priceValue)" ng-model="customerReq.priceValue" ng-click="premiumData()" style="width: 200px;">
	                                    	<option value="">Select</option>
	                                    	<option value="Price">Price</option>
	                                    	<option value="Manufacturer">Manufacturer</option>
	                                    	<option value="Zip Code">Zip Code</option>
	                                	</select>
									</div>
							</div>
					
					</div>
					<div ng-if="customerReq.redirectValue != 'Automatically redirect an online customer requests based on'">
	                    <button style="margin-top:30px;" type="submit" class="btn btn-primary btn-embossed">Save</button>
	                </div>
				</form>	
				<div ng-if="customerReq.priceValue == 'Price'">
					<form ng-submit="saveRedirectToAll()">
						<!-- <div class="form-group col-sm-12">
							<label class="col-sm-3 control-label">Premium online request starts from *</label>
								<div class="col-sm-3" style="margin-left: -80px;">
									<input class="form-control form-white" ng-model="premium.priceVehical" value="premium.priceVehical" type="number" required>
								</div>
						</div> -->
						<div class="form-group col-sm-12" style="margin-left: 1%;">
							<!-- <input type="checkbox" value="true" ng-model="premium.premiumFlag">&nbsp&nbsp Redirect all leads to Manager<br> -->
							<!-- <a ng-click="showToUser()">Assign</a> -->
						</div>
						<div class="form-group col-sm-12" style="margin-left: 1%;">
							<table style="width:60%">
								<tr style="height: 40px;">
									<td style="text-align: center;width:50%"><b>Sales People</b></td>
									<td style="text-align: center;width:30%"><b>Price Range</b></td>
									<!-- <td style="text-align: center;width:20%"><b>Premium</b></td> -->
								</tr>
								<tr style="width:20%" ng-repeat="sale in salesPersonList">
									<td>{{sale.fullName}}</td>
									<td style="text-align: right;"><span style="margin-right: 17px;" ng-show="sale.priceStart != null">From {{sale.priceStart}}, To {{sale.priceEnd}}</span> <button type="button" class="btn btn-primary" ng-click="openPopUpForPrice(sale)" style="margin-top:2%;margin-bottom: 2%;">Add</button></td>
									<!-- <td style="text-align: center;"><input type="checkbox" name="vehicle" ng-model="sale.premiumFlag" ng-checked="sale.premiumFlag == 1" ng-click="permiumAss(sale);"><br></td> --> 
								</tr>
									  
							</table>
						</div>
						<div class="col-sm-12" style ="font-size: 20px;" ng-if="customerReq.priceValue == 'Price'">
   							<div class="col-md-4">
								<label>All left out online requests should be : </label>
							</div>
							<div class="col-sm-5">
								<input style="width:17px;height:17px;margin-left: -80px;" type="radio" id="releasedtoallsalespeople" name="releasedtoall" ng-model="realese.allSalesPeople" value="Released to all of the sales people" ng-click="realeasedTO('Released to all of the sales people')" required> Released to all of the sales people
							</div>
							<div class="col-sm-5">
								<input style="width:17px;height:17px;margin-left: -80px;" type="radio" id="senttoonesalespeople" name="releasedtoall" ng-model="realese.allSalesPeople" value="Sent to one of the sales people" ng-click="realeasedTO('Sent to one of the sales people')" required> Sent to one of the sales people
							</div>
				
							<div class="col-sm-12" ng-if="realese.allSalesPeople == 'Sent to one of the sales people'">
								<div class="col-sm-4">
								</div>
								<div class="col-sm-8">
									<div class="col-sm-12" style ="font-size: 20px" ng-repeat="name in salesPersonName">
										<input style="width:17px;height:17px;" type="radio" name="allSalesPersonsData" ng-model="customerReq.firstName" value="{{name.firstName}}" ng-click="saveSalesPeople(name)"> {{name.firstName}} {{name.lastName}}
									</div>
								</div>
							</div>
						</div>
						
						<button type="submit" class="btn btn-primary" style="margin-left:16%;margin-top:4%;">Save</button>
					</form>	
				</div>
				
				<!-- *****************************Manufacturer********************** -->
				
				<div class="form-group col-sm-12" style="margin-left: 1%;" ng-if="customerReq.priceValue == 'Manufacturer'">
							<table style="width:60%">
								<tr>
									<td style="text-align: center;width:40%"><b>Manufacturer</b></td>
									<td style="text-align: center;width:40%"><b>Sales Person</b></td>
									<td style="text-align: center;width:20%"><b> </b></td>
								</tr>
								<tr style="width:20%" ng-repeat="sale in allManufacturerList">
									<td>{{sale.title}}</td>
									<td style="text-align: center;"><span  ng-repeat="name in sale.userData" ng-show="name.premiumFlag == true">{{name.firstName}} ,</span><br></td> 
									<td><button class="btn btn-primary" ng-click="salesPersonListPop(sale)" style="margin-left:16%;margin-top:4%;margin-bottom: 4%;">Assign</button></td>
								</tr>
									  
							</table>
							<button class="btn btn-primary" ng-click="saveDetailsOfUser()" style="margin-left:16%;margin-top:4%;margin-bottom: 4%;">Save</button>
						</div>
				
			</div>
</div>		
   
   <button id="allSalesAndFront" data-toggle="modal" data-target="#editLeadbtn" style="display: none;"></button>
		 <div class="modal fade" id="editLeadbtn" tabindex="-1" role="dialog" aria-hidden="true">
		 		<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
						</div>
					<div class="modal-body">
						All Sales Persons<br>
					</div>
					<table style="width:60%;margin-left: 100px;">
								<tr>
									<td style="text-align: center;width:40%"><b>Sales & Front User</b></td>
									<td style="text-align: center;width:40%"><b></b></td>
								</tr>
								<tr style="width:20%" ng-repeat="person in salesPerDetail.userData">
									<td><span>{{person.firstName}} {{person.lastName}} </span></td>
									<td style="text-align: center;"><input type="checkbox" name="vehicle" ng-model="person.premiumFlag" ng-checked="person.premiumFlag == 1" ng-click="storeValue(person)"><br></td> 
								</tr>
									  
							</table>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="selectedSalesPer()">Ok</button>
					</div>
				</div>
			</div>
		</div> 
   
   		<div style="display:none;" id="addPremiumPrice" data-toggle="modal" data-target="#editPopups"></div>
			<div class="modal fade" id="editPopups" tabindex="-1" role="dialog" aria-hidden="true">
        		<div class="modal-dialog">
            		<div class="modal-content">
                		<div class="modal-header">
                    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    		<h4 class="modal-title"><strong>Price Range</strong></h4>
                		</div>
						<div class="modal-body">
							<form ng-submit="addPremiumPrice(saleDeails)">
							<div class="col-md-12 form-group">
								<div class="col-md-2">
									<label>From</label>
								</div>
								<div class="col-md-4" style="margin-left: -32px;">
									<input class="form-control form-white" ng-model="saleDeails.priceStart" value="saleDeails.priceStart" type="number" required>
								</div>
								<div class="col-md-2">
									<label>To</label>
								</div>
								<div class="col-md-4" style="margin-left: -50px;">
									<input class="form-control form-white" ng-model="saleDeails.priceEnd" value="saleDeails.priceEnd" type="number" required>
								</div>
							</div>
							<input type="submit" class="btn btn-primary btn-embossed" value="Add">
							<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
							</form>
						</div>
					</div>
	            </div>
        	</div>
   			
   			<div style="display:none;" id="notselectedSelesPer" data-toggle="modal" data-target="#editPopupsSales"></div>
			<div class="modal fade" id="editPopupsSales" tabindex="-1" role="dialog" aria-hidden="true">
        		<div class="modal-dialog">
            		<div class="modal-content">
                		<div class="modal-header">
                    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    		<h4 class="modal-title"><strong>Following sales people don't have any manufacturers assigned to them</strong></h4>
                		</div>
                		<table style="width:60%;margin-left: 100px;">
								<tr>
									<td style="text-align: center;width:40%"><b>Sales & Front User</b></td>
								</tr>
								<tr style="width:20%" ng-repeat="per in notSelectedSales">
									<td><span>{{per.firstName}} {{per.lastName}} </span></td>
								</tr>
									  
							</table>
						<div class="modal-body">
							<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal" ng-click="saveManufactListCust()">Continue Anyway</button>
							<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Assign</button>
						</div>
					</div>
	            </div>
        	</div>
   			<div ng-if="customerReq.priceValue == 'Zip Code'">
					<div class="form-group col-sm-12" style="margin-left: 1%;">
						<table style="width:60%">
							<tr style="height: 35px;">
								<td style="text-align: center;width:50%"><b>Sales People</b></td>
								<td style="text-align: center;width:40%"><b>City</b></td>
								<td style="text-align: center;width:10%"><b>Settings</b></td>
							</tr>
							<tr style="width:20%;height:35px;" ng-repeat="sale in allFronAndSalesList">
								<td>{{sale.firstName}} {{sale.lastName}}</td>
								<td style="text-align: center;"><span ng-repeat="value in sale.zipCode" ng-show="value.zipcode != null" ng-model="value.zipcode">{{value.zipcode}} ,</span></td>
								<td style="text-align: center;"><i class="glyphicon glyphicon-pencil" ng-click="showCityAddPop(sale)" title="Edit"></i></td> 
							</tr>
						</table>
					</div>
					<button type="button" class="btn btn-primary" ng-click="SaveZipCodeData()" style="margin-left:16%;margin-top:4%;">Save</button>
			</div>
			
			<div style="display:none;" id="editAddressPop" data-toggle="modal" data-target="#addressPopUp"></div>
			<div class="modal fade" id="addressPopUp" tabindex="-1" role="dialog" aria-hidden="true">
        		<div class="modal-dialog" style="width: 734px;height: 600px;overflow: auto;overflow-x: hidden;margin-top: 110px;">
            		<div class="modal-content" style="width: 730px;">
                		<div class="modal-header">
                    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    		<h4 class="modal-title"><strong>Address</strong></h4>
                		</div>
						<div class="modal-body" style="width: 660px;">
							<form ng-submit="SaveZipCodeData()">
							<div class="col-md-12 form-group">
								<div class="col-md-1">
									<label>Cities</label>
								</div>
								<div class="col-md-4">
									<input class="form-control form-white" ng-model="address.city" value="address.city" type="text"  required>
								</div>
								<div class="col-md-1">
									<label>State</label>
								</div>
								<div class="col-md-4">
									<!-- <input class="form-control form-white" ng-model="address.state" value="address.state" type="text"  required> -->
									<select class="form-control form-white" id="userAge" ng-model="address.state">
                                    	<option value="">Select</option>
                                    	<option ng-repeat="item in stateCodesList" value="{{item.stateCode}}">{{item.stateCode}}</option>
                                    	
                                </select>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-primary" ng-click="getZipCode(address)">Show ZipCodes</button>
								</div>
								<div class="col-md-3" style="margin-top: 10px;" ng-repeat="value in zipCodeDetailData">
									<input type="checkbox" name="zipcode" ng-model="value.isSelected" ng-click="storeZipCode(value)">{{value.zipcode}}
								</div>
								
							</div>
							<input type="submit" class="btn btn-primary btn-embossed" value="Add">
							<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
							</form>
						</div>
					</div>
	            </div>
        	</div>
   
<style>
.ImageBorder
{
        border: 5px solid #0099FF;
}
.noClass{
	
}

table, th, td {
    border: 1px solid black;
}

.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}

</style>	



