<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" ng-init="getAllInventory()" >
	<ul id="myTabs" class="nav nav-tabs" role="tablist">
		<!-- <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="graphicInfo()">Graphics</button></a></li> -->
       	<li ng-sec="Leads" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="leadTypeInfo()">Leads</button></a></li>
      	<li ng-sec="Emails" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="newsLetterSetting()">Email</button></a></li>
      	<li ng-sec="Documentation" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="documentationSetting()">Documentation </button></a></li>
      	<li ng-sec="Marketing" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="socialMedia()">Marketing</button></a></li>
       	<!-- <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="autoPortal()">Auto Portals </button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="plansAndBill()">Plans & Billing </button></a></li> -->
       	<li ng-sec="Domain" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="domainDetails()">Domain </button></a></li>
 		<li ng-sec="Forms" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="form()">Forms </button></a></li>
 		<li ng-sec="System Setting Website Analytics" role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="websiteAnalytics()">Website Analytics</button></a></li>
		<li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="inventoryManagement()">Inventory Management</button></a></li>
	</ul>
   	<!--  <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
      
		<li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true"><button type="button" class="btn btn-blue"  ng-click="init()">Premium Leads</button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="leadTypeInfo()">Lead type</button></a></li>
    </ul> -->
	    
</div> 

		<div class="form-group col-sm-12" style="margin-top: 35px;">
			<input style="width: 13px;height: 13px;" type="checkbox" ng-model="enableInven" ng-change="enableInventory(enableInven)"><label>&nbsp&nbsp Enable Inventory Management</label>
		</div>
	
   		<div class="form-group col-sm-12" ng-if="collectionFlag == 1">
   			<form name= "addCollFrm" ng-submit="saveMainCollect()">
		 		<div class="col-sm-12" ng-repeat="value in addMainCollFields">
		 			<div class="col-sm-2">
						<label>Name Your Main Collection</label>
					</div>
					<div class="col-sm-2">
						<input type="text"placeholder="Name Your Collection" name="abc{{value.id}}" class="form-control form-white"ng-model="value.collection" required>
					</div>
					<div class="col-sm-2">
						<h4 ng-click="addCoverImg(value)"><b><a>Edit Cover image</a></b></h4>
					</div>
					<div class="col-sm-6">
						<i class="fa fa-close" title="delete" ng-click="deleteMainColl(value)" style="cursor: pointer;"></i>
					</div>
				</div>
				<div class="col-sm-12">
					<span class="col-sm-2 col-sm-offset-2" ng-if="addCollFrm.$invalid" style="color:orange">plaese enter collection name</span>
				</div>	
				<!-- ng-click="addMainColllection()" -->			
				<h4 style="margin-top: 10px;" ng-click="addMainCoverPage()"><b><a>Add an additional main collection</a></b></h4>
				<button  type="submit" ng-disabled="addCollFrm.$invalid" ng-if="collectionFlag == 1" class="btn btn-primary">Save</button>
			</form>
		</div>
		
		<div class="modal fade" id="collectionPopup" tabindex="-1" role="dialog" aria-hidden="true">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-header">
            		</div>
            		<form ng-submit="proceedToAll()">
            			<div class="modal-body">
            				<h4 class="modal-title">Are you sure you want to disable an Inventory Management ?</h4>
            			</div>
            			<div class="modal-footer">
            				<button type="submit" class="btn btn-primary btn-embossed">Proceed</button>
                			<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal" ng-click="changeFlagOfColl()">Close</button>
            			</div>
            		</form>
        		</div>
    		</div>
		</div>
		
		<div class="modal fade" id="deletePop" tabindex="-1" role="dialog" aria-hidden="true">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-header">
            		</div>
            		<form ng-submit="deletMainCollection()">
            			<div class="modal-body" ng-if="collDataList.length == 0">
            				<h4 class="modal-title">Are you sure. You want to delete this Main Collection ? </h4>
            			
            			</div>
            		
            			<div class="modal-body" ng-if="collDataList.length != 0">
            				<h4 class="modal-title">This main collection currently has live collections or products, proceeding will
								erase all of the data. Consider moving all of the items to other collections.</h4>
            			<div class="col-sm-6">
            			<table style="width:60%;border:none;">
								<tr style="height: 30px;">
									<td style="width:10%;border:none;"><u>Collection</u></td>
								</tr>
								<tr ng-repeat="item in collDataList">
									<td style="border:none;">*{{item.title}}</td>
								</tr>
							</table>
            			</div>
            			</div>
            			
            			<!-- <div class="col-sm-6">
            			<table style="width:60%">
								<tr style="height: 30px;">
									<td style="text-align: center;width:10%">Product</td>
								</tr>
								<tr ng-repeat="pro in productDataList">
									<td>{{pro.primaryTitle}}</td>
								</tr>
							</table>
            			</div> -->
            			<div class="modal-footer">
            				<button type="submit" class="btn btn-primary btn-embossed">Proceed</button>
                			<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
            			</div>
            		</form>
        		</div>
    		</div>
		</div>
	
<style>
.ImageBorder
{
        border: 5px solid #0099FF;
}
.noClass{
	
}

table, th, td {
    border: 1px solid black;
}

.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}

</style>	



