	
<div class="form-group col-sm-12" ng-init="initFunction()">
	<div class="form-group col-sm-12">
		<h2>FORM CUSTOMIZATION</h2>
		<div ng-show="showDefault == 'true'">
		 <h4>Website's Default fields</h4>
		   <div class="col-md-12 form-group">
								                    			  <div class="col-md-6">
								                    				<div class="col-md-2">
								                    					<label>Name</label>
								                    				</div>
								                    				<div class="col-md-6">
								                    					<input type="text" ng-model="lead.custNumber" class="form-control" required/>
								                    				</div>
								                    				</div>
								                    			</div>
								                    			<div class="col-md-12 form-group">
								                    			<div class="col-md-6">
								                    				<div class="col-md-2">
								                    					<label>Phone Number</label>
								                    				</div>
								                    				<div class="col-md-6">
								                    					<input type="text" ng-model="lead.custNumber" class="form-control" required/>
								                    				</div>
								                    			 </div>
								                    		  </div>	
								                    		   <div class="col-md-12 form-group">
								                    			<div class="col-md-6">
								                    				<div class="col-md-2">
								                    					<label>Email</label>
								                    				</div>
								                    				<div class="col-md-6">
								                    					<input type="text" ng-model="lead.custEmail" class="form-control" required/>
								                    				</div>
								                    			</div>
								                    		</div>	
								                    		 <div class="col-md-12 form-group">
								                    			<div class="col-md-6">
								                    				<div class="col-md-2">
								                    					<label>Zip Code</label>
								                    				</div>
								                    				<div class="col-md-6">
								                    					<input type="text" ng-model="lead.custZipCode" class="form-control" required/>
								                    				</div>
								                    			</div>
								                    		</div></div>
		<!-- <div class="col-md-6">
								                    			<div class="col-md-12">
								                    				<div class="col-md-2">
								                    					<label>Name</label>
								                    				</div>
								                    				<div class="col-md-6">
								                    					<input type="text" ng-model="lead.custNumber" class="form-control" placeholder="Search Name" required/>
								                    				</div>
								                    				
															    
								                    			</div>
								                    			
								                    			
								                    			
								                    		</div> -->
								                    		<!-- <div class="col-md-6">
								                    			<div class="col-md-12" style="margin: 10px 0 10px 0;">
								                    				<input type="text" ng-model="lead.custEmail" placeholder="EMAIL" required/> <span style="color: red;">*</span>
								                    			</div>	
								                    			<div class="col-md-12" style="margin: 10px 0 10px 0;">
								                    				<input type="text" ng-model="lead.custZipCode" placeholder="ZIP CODE" required/> <span style="color: red;">*</span>
								                    			</div>
								                    		</div>	 -->
	</div>
	<div class="form-group col-sm-12">
		<div class="row">
								               
	</div>
	<div class="form-group col-sm-12">
		<div class="row">
        <div class="col-md-6">
         <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">MAINFIELDS</h3><br>
                </div>
                <div  ng-if="initComponent.length > 0" fb-builder="default" ng-model="initComponent"></div>
                <div  ng-if="initComponent.length <= 0" fb-builder="default" ng-model="initComponent"></div>
                
                <!-- <div class="panel-footer">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="isShowScope" />
                            Show scope
                        </label>
                    </div>
                    <pre ng-if="isShowScope">{{form}}</pre>
                </div> -->
            
            </div>
           <!--  <div class="panel panel-default" style="height: 93px;">
                	 <div class="col-md-2" style="margin-left: 40px;">
                	 	<label>Outcome</label>
                	 </div>
                	 <div class="col-md-8" style="margin-left: 40px;">
                     	
                     		<select ng-model="outcome" multiple>
                     		   <option ng-repeat="item in outcomemenu" value="{{item.id}}">{{item.menuName}}</option>
						 
						</select>
                    	
                    </div>
                    <label ng-if="showOutcomeMsg == 1" style="color:red;margin-left:60px">Please select outcome</label>
              </div>   -->
              </div>
              <div class="col-md-12">
              	<input type="checkbox" name="additionalData" ng-click="additionalDataFunction(additionalData)" ng-model="additionalData" value="additionalData"> Add Additional fields
              </div>
              <div class="col-md-12" ng-if="additionalData == true">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ADDITIONAL FIELDS</h3><br>
                </div>
                <div  ng-if="additionalComponent.length > 0" fb-builder="defaultAdd" ng-model="additionalComponent"></div>
                <div  ng-if="additionalComponent.length <= 0" fb-builder="defaultAdd" ng-model="additionalComponent"></div>
          
            
            </div>
        
              </div>
        </div>

        <div class="col-md-6" style="margin-top: 40px;">
        	<div>
        			<h4>ADD ADDITIONAL FIELDS</h4>
                    <h2>BUILDER</h2>
                    <h4>Drag & drop items to the "FIELDS" area.</h4>
                </div>
                <hr>
            <div fb-components></div>
        </div>
        
    </div>
	</div>
	<div class="form-group col-sm-12" style="text-align: right;" ng-if="showSaveButton == 'Edit'">
		<button type="button" class="btn btn-primary" ng-click="saveCreateLeadFormOnly()">Save</button>
		<button type="button" class="btn btn-primary" ng-click="saveCreateLeadFormAddOuctcome()">Edit Outcomes</button>
	</div>
	<div class="form-group col-sm-12" style="text-align: right;" ng-if="showSaveButton == 'save'">
		<button type="button" class="btn btn-primary" ng-click="saveCreateLeadForm()">Save & Add Outcomes</button> 	 	
	</div>
</div>	


<div class="modal fade" id="edititle" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" id="scheduleCancelBtn" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <!-- <h4 class="modal-title">Close test drive</h4> -->
								                </div>
								                <form ng-submit="editAllTitle()">
								                <div class="modal-body" ng-if="setjson.showFild == 'Main Title'">
								                    <b style="margin-left:3%;">Main Title</b><br>
								                     <div class="form-group col-sm-12">
														<div class="col-sm-5=10">
															<input class="form-control form-white" style="" ng-model="setjson.mainTitle" type="text" required>
														</div>
													</div>
								                </div>
								                <div class="modal-body" ng-if="setjson.showFild == 'Search Title'">
								                    <b style="margin-left:3%;">Search Title</b><br>
								                     <div class="form-group col-sm-12">
														<div class="col-sm-5=10">
															<input class="form-control form-white" style="" ng-model="setjson.searchTitle" type="text" required>
														</div>
													</div>
								                </div>
								                <div class="modal-body" ng-if="setjson.showFild == 'Search Sub Title'">
								                    <b style="margin-left:3%;">Search Sub Title</b><br>
								                     <div class="form-group col-sm-12">
														<div class="col-sm-5=10">
															<input class="form-control form-white" style="" ng-model="setjson.searchSubTitle" type="text" required>
														</div>
													</div>
								                </div>
								                <div class="modal-body" ng-if="setjson.showFild == 'Lead Type Title'">
								                    <b style="margin-left:3%;">Lead Type Title</b><br>
								                     <div class="form-group col-sm-12">
														<div class="col-sm-5=10">
															<input class="form-control form-white" style="" ng-model="setjson.leadTypeTitle" type="text" required>
														</div>
													</div>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">No</button>
								                    <button type="submit" class="btn btn-primary btn-embossed">Save</button>
								                </div>
								                </form>
								            </div>
								        </div>
								    </div>
								    
								    
				<button id="createLeadPopup" data-toggle="modal" data-target="#completedPopup" style="display: none;"></button>
	
	
		<div class="modal fade" id="completedPopup" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog" style="margin-left: 281px;margin-top: 85px;">
								            <div class="modal-content" style="height: 651px;width: 840px;overflow: auto;">
								                <div class="modal-header">
								                </div>
								                <h2 style="margin-left: 9px;"><b>OUTCOME SETTINGS</b></h2>
								                <form ng-submit="callToAction()" style="margin-left: 12px;">
								                <div class="modal-body">
								                <br>
								                <h4 class="modal-title" style="margin-bottom: 20px;">SYSTEM OUTCOMES</h4>
								                <div class="col-md-12">
								                	<div class="col-sm-12">
								                    
								                    <div class="col-sm-12">
														 		<label ng-repeat="rolePer in outcomemenu" class="col-sm-6" style="padding:0px;">
											 						 <input type="checkbox" name="permissions" id="myCheckbox{{rolePer.id}}" ng-click="actionClicked($event,rolePer,rolePer.isSelected)"
											 						   	ng-model="rolePer.isSelected">					
							   					 						{{rolePer.menuName}}</label>
							   					 				<label>
        											</div>
        											
        											<div class="form-group col-sm-12" style="margin-top: 15px" ng-repeat="find in actions" ng-if="find == 2">
														<label class="col-sm-3 control-label" style="text-align: right">Upload PDF File *</label>
														<div class="col-sm-5">
																<input type="file" name="logoFile" ng-file-select="onCustomerFileSelect($files)" accept="application/msword,application/pdf"/>
														</div>
													</div>
        											<div class="col-sm-8"  style="margin-top: 20px;margin-left: 25px;" ng-repeat="find in actions" ng-if="find == 2">
												<table  style="border: 1px solid; width:80%" ng-if="customerPdfList.length > 0">
									    		<tr style="border: 1px solid;">
									    			<td style="padding: 5px;font-size: 20px;text-align: center;border: 1px solid;">Select</td>
									    			<td style="padding: 5px;font-size: 20px;text-align: center;border: 1px solid;">PDF Name</td>
									    			<td style="padding: 5px;font-size: 20px;text-align: center;border: 1px solid;">Action</td>
									    		  </tr>
									    			<tr ng-repeat="item in customerPdfList" style="border: 1px solid;">
									    				<td style="text-align: center;"> <input type="radio" name="sendPdf" ng-Checked="item.customerPdfId == sendpdfIds" ng-click="sendpdfId(item)"></td>
									    				<td style="padding: 5px;border: 1px solid;" >{{item.customerPdfName}}</td>
									    				<td style="border: 1px solid;text-align: center;" ng-click="deletePdf(item.customerPdfId)"><a class="glyphicon glyphicon-trash"></a></td>
									    			</tr>
									    		</table>
											</div>
											<div ng-repeat="find in actions" ng-if="find == 2">
												<input type="checkbox" name="saveInDoc" ng-model="saveDoc" ng-click="checkSaveDoc(saveDoc)">Save to Documents
											</div>
        										</div>
								                </div>
								                <br>
								                <hr>
								                <br>
								                <h4 class="modal-title" ng-if="callToActonP == '1'" style="margin-bottom: 20px;">"CALL TO ACTION" PROPERTIES </h4>
								                <div class="col-md-12 form-group" ng-if="callToActonP == '1'">
								                <div class="col-sm-12">
								                    <div class="col-sm-2">
								                    			<label >Title</label>
								                    </div>
								                    <div class="col-sm-6">
																<input style="width: 235px;padding: 4px; type="text" name="title" ng-model="callAction.actionTitle" placeholder="TITLE " required>
        											</div>
        										</div>
        										<div class="col-sm-12" style="margin-top: 10px;">
        											<div class="col-sm-2">
        												<label>Outcomes</label>
        											</div>
        											<div class="col-sm-10">	
        												
							   					 						<label ng-repeat="rolePer in callActionsList" class="col-sm-6" style="padding:0px;">
											 						 <input type="checkbox" name="permissions" ng-click="checkClicked($event,rolePer,rolePer.isSelected)"
											 						   	ng-model="rolePer.isSelected">					
							   					 						{{rolePer.name}}</label>
							   					 				<label>			
							   					 				
													</div>
													<div class="form-group col-sm-12" style="margin-top: 15px" ng-repeat="find in callactions" ng-if="find == 'Client downloads PDF file'">
														<label class="col-sm-4 control-label" style="text-align:left;margin-left: -15px;">Upload PDF File *</label>
														<div class="col-sm-5">
																<input style="margin-left: -30px;" type="file" name="logoFile" ng-file-select="onFileSelect($files)" ng-model="callAction.actionClientPdf" accept="application/msword,application/pdf"/>
														</div>
													</div>
								
													<div class="col-sm-8" style="margin-top: 20px;margin-left: 25px;" ng-repeat="find in callactions" ng-if="find == 'Client downloads PDF file'">
													
													  <table  style="border: 1px solid; width:80%" ng-if="customerPdfList.length > 0">
											    		<tr style="border: 1px solid;">
											    			<td style="padding: 5px;font-size: 20px;text-align: center;border: 1px solid;">PDF Name</td>
											    			<td style="padding: 5px;font-size: 20px;text-align: center;border: 1px solid;">Action</td>
											    		  </tr>
											    			<tr ng-repeat="item in customerPdfList" style="border: 1px solid;">
											    				<td style="padding: 5px;border: 1px solid;" >{{item.customerPdfName}}</td>
											    				<td style="border: 1px solid;text-align: center;" ng-click="deletePdf(item.customerPdfId)"><a class="glyphicon glyphicon-trash"></a></td>
											    			</tr>
											    		</table>
											    		
																<!-- <table  style="border: 1px solid; width:80%" ng-if="internalPdfList > 0">
													    		<tr style="border: 1px solid;">
													    			<td style="padding: 5px;font-size: 20px;text-align: center; border: 1px solid;">PDF Name</td>
													    			<td style="padding: 5px;font-size: 20px;text-align: center;border: 1px solid;">Action</td>
													    		  </tr>
													    			<tr ng-repeat="item in internalPdfList" style="border: 1px solid;">
													    				<td style="padding: 5px;border: 1px solid;" ng-model="callAction.actionClientPdf">{{item.internalPdfName}}</td>
													    				<td style="border: 1px solid;text-align: center;" ng-click="deleteInternalPdf(item.internalPdfId)"><a class="glyphicon glyphicon-trash"></a></td>
													    			</tr>
													    		</table> -->
															</div>
															<div ng-repeat="find in callactions" ng-if="find == 'Client downloads PDF file'">
															<input type="checkbox" name="saveInDoc" ng-model="saveDoc" ng-click="checkSaveDocCall(saveDoc)">Save to Documents
														</div>
														</div>	
														 </div>
														 <div class="col-sm-12 form-group" ng-if="callToActonP == '1'" >
										                    <div class="col-sm-3">
										                    			<label>Confirmation Message</label>
										                    </div>
										                    <div class="col-sm-9">
																		<input class="col-md-10 form-control" type="text" name="title" ng-model="callAction.confirmationMsg" placeholder="Message " required>
		        											</div>
        												</div>
														 																                
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
								                    <button type="submit" class="btn btn-primary btn-embossed">Save</button>
								                </div>
								                </form>
								            </div>
								        </div>
								    </div>
								    
								    <button id="btndeleteInternalPdf" data-toggle="modal" data-target="#deleteInternalPdfModal" style="display: none;"></button>
									<div class="modal fade" id="deleteInternalPdfModal" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Remove PDF</h4>
								                </div>
								                <div class="modal-body">
								                Are you sure you want to permanantly remove {{internalPdfName}}? <br>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
								                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="deletePdfInternal()">Remove</button>
								                </div>
								            </div>
								        </div>
								    </div>
								    <div class="modal fade" id="crmPopup" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Message</h4>
								                </div>
								                <div class="modal-body">
								                This option requires to add "CRM Group" field type to the form. Do you want to add it to the form?<br>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal" ng-click="uncheckCrm()">No</button>
								                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="closrPopUp()">Yes</button>
								                </div>
								            </div>
								        </div>
								    </div>
								    <div class="modal fade" id="dateTimePopup" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Message</h4>
								                </div>
								                <div class="modal-body">
								                This option requires to add "Date Selector" and "Time Selector" field types to the form. Do you want to add it to the form?
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal" ng-click="uncheckDate()">No</button>
								                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="closrPopUp()">Yes</button>
								                </div>
								            </div>
								        </div>
								    </div>