<div class="col-sm-10 col-sm-offset-2">
	<h1><b>ADD PRODUCT</b></h1>
	<br><br>
	<form ng-submit="saveProduct()" name="addProFrm">
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">SECONDARY TITLE * </font></label>
			</div>
			<input class="form-control form-white" name="secondaryTitle" type="text" style="border-color:orange;width:50%;" ng-model="product.secondaryTitle"  required>
		</div>
	
		<div class="form-group col-sm-12" >
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">PRIMARY TITLE * </font></label>
			</div>
			<input class="form-control form-white" name="primaryTitle" type="text" style="border-color:orange;width:50%;" ng-model="product.primaryTitle"  required>
		</div>
	
		<div class="form-group col-sm-12" >
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">YEAR </font></label>
			</div>
			<input class="form-control form-white" name="year" type="number" style="width:50%;" ng-model="product.year" >
		</div>
	
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">DESIGNER </font></label>
			</div>
			<input class="form-control form-white" name="designer" type="text" style="width:50%;" ng-model="product.designer" >
		</div>
	
		<div class="form-group col-sm-12">
			<div>
				<label class=" control-label" style="width: 30%;"><font size="3">PRODUCT'S  DESCRIPTION </font></label>
			</div>
			<textarea rows="5" style="width:50%;" name="description" ng-model="product.description" class="form-control form-white"></textarea>
		</div>
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">PRODUCT PRICE * </font></label>
			</div>
			<input class="form-control form-white" name="price" type="number" style="border-color:orange;width:50%;" ng-model="product.price"  required>
		</div>
	
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">PRODUCT COST * </font></label>
			</div>
			<input class="form-control form-white" name="cost" type="number" style="border-color:orange;width:50%;" ng-model="product.cost"  required>
		</div>
		
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label" style="width: 21%;"><font size="3">AMOUNT * </font></label>
			</div>
			<input class="form-control form-white" name="amount" type="number" style="border-color:orange;width:50%;" ng-model="product.amount"  required>
		</div>
		
		<div class="form-group col-sm-12">
	
			<input type="checkbox" class="ng-pristine ng-valid" ng-model="product.isAmountFlag" name="newFlag" id="newflag"/>
			Do not calculate the amount
	
		</div>
		
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label " style="width: 40%;"><font size="3">ADD TO EXISTING MAIN COLLECTION* </font></label>
			</div>
			<div>
				 <select id="sectionId" name="mainCollection" class="from-control form-white" style="width:50%;height: 35px;border-color:orange;" ng-model="mainCollection" ng-change="getSubCollection(mainCollection)">	
					<option ng-repeat="coll in mainCollections" ng-selected="mainCollection.id == coll.id" value="{{coll}}">{{coll.collection}}</option>
				</select>
			</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label " style="width: 40%;"><font size="3">ADD TO EXISTING SUB COLLECTION </font></label>
			</div>
			<div>
				<select id="sectionId" class="from-control form-white" style="width:50%;height: 35px;" ng-model="subCollection">
					<option ng-repeat="coll in subCollections" value="{{coll}}">{{coll.title}}</option>
				</select>
			</div>
		</div>
	
		<div class="form-group col-sm-12">
			<div>
				<label class="control-label " style="width: 40%;"><font size="3">ADD SPECIFICATION FILE </font></label>
			</div>
			<div class="fallback">
				<input type="file" name="logoFile" ng-file-select="onLogoFileSelect($files)" accept="application/msword,application/pdf"/>
			</div>
		</div>
		
		<div class="form-group col-sm-12">
				<div>
					<label class="control-label " style="width: 40%;"><font size="3">ADD CAD </font></label>
				</div>
				<div class="fallback">
					<input type="file" name="cadFile" ng-file-select="onCADFileSelect($files)" accept="application/zip/msword,application/cad"/>
				</div>
			</div>
		
		<div class="form-group col-sm-12">
	
			<input type="checkbox" class="ng-pristine ng-valid" ng-model="product.newFlag" name="newFlag" id="newflag"/>
			New
	
		</div>
		<div class="form-group col-sm-12">
		<div class="col-md-4"></div>
				<input type="submit" id="submit" class="btn btn-primary col-md-2"  value="SAVE & GoToPhoto" ng-click="product.publicStatus = 'publish'" style="margin-top:3%;">
		<input type="submit" id="submit" class="btn btn-primary col-md-2" value="SAVE & Draft" ng-click="product.publicStatus = 'draft'" style="margin-top:3%;">
		</div>
		
		<p>
			<font color="orange"><strong>Warning Tip :</strong> You must crop images after uploading to keep the website's image grid consistent.</font>
		</p>
	</form>
</div>