<h1><b>ADD MANUFACTURERS</b></h1>
<br>
<br>
<form ng-submit="saveManufacturers()">
	<div class="form-group col-sm-12">
		<div>
			<label class="control-label" style="width: 21%;"><font size="3">Title </font></label>
		</div>
		<input class="form-control form-white" type="text" style="border-color:red;width:30%;" ng-model="addProduct.title"  required>
	</div>

	<div class="form-group col-sm-12" >
		<div>
			<label class="control-label" style="width: 21%;"><font size="3">Description </font></label>
		</div>
		<input class="form-control form-white" type="text" style="border-color:red;width:30%;" ng-model="addProduct.description"  required>
	</div>

	

	

	<div class="form-group col-sm-12">
		<div>
			<label class="control-label " style="width: 40%;"><font size="3">Add Logo </font></label>
		</div>
		<div class="fallback">
			<input type="file" name="logoFile" ng-file-select="onLogoFileSelect($files)" accept="application/msword,application/pdf"/>
		</div>
	</div>
	
	
	<input type="submit" id="submit" class="btn btn-primary "  value="Save & Publich" style="margin-top:3%;margin-left:46%;">
	<input type="submit" id="submit" class="btn btn-primary "  value="Save to Drafts" style="margin-top:3%;margin-left:46%;">
	
</form>
