<h1><b>ADD COLLECTION</b></h1>
<br>
<br>
<form ng-submit="saveManufacturers(value)">
	<div class="form-group col-sm-12">
		<div>
			<label class="control-label" style="width: 21%;"><font size="3">Title </font></label>
		</div>
		<input class="form-control form-white" type="text" style="border-color:red;width:30%;" ng-model="addProduct.title"  required>
	</div>

	<div class="form-group col-sm-12" >
		<div>
			<label class="control-label" style="width: 21%;"><font size="3">Description </font></label>
		</div>
		<input class="form-control form-white" type="text" style="border-color:red;width:30%;" ng-model="addProduct.description"  required>
	</div>
	<!-- <div class="form-group col-sm-12" >
		<div>
			<label class="control-label" style="width: 21%;"><font size="3">Main Collection </font></label>
		</div>
		<input class="form-control form-white" type="text" style="border-color:red;width:30%;" ng-model="mainCollectionData"  readOnly>
	</div> -->
	
	<div class="form-group col-sm-12">
		<div>
			<label class="control-label " style="width: 40%;"><font size="3">ADD TO EXISTING COLLECTION</font></label>
		</div>
	<select id="section" class="from-control form-white" style="width:30%;height: 35px;" ng-model="addProduct.parentId" required>

				<option ng-repeat="coll in childManuData" value="{{coll.id}}">{{coll.title}}</option>
			</select>

	</div>
	<div class="form-group col-sm-12">
		<div>
			<label class="control-label " style="width: 40%;"><font size="3">Add Logo </font></label>
		</div>
		<div class="fallback">
			<input type="file" name="logoFile" ng-file-select="onLogoFileSelect($files)" accept="image/*"/>
		</div>
	</div>
	<!-- <div class="form-group col-sm-12">
		<div>
			<label class="control-label " style="width: 40%;"><font size="3">Add Logo File Type</font></label>
		</div>
		<div class="fallback">
			<input type="radio" name="gender" value="svg" ng-model="addProduct.fileType" checked> SVG<br>
  			<input type="radio" name="gender" value="png or other" ng-model="addProduct.fileType"> PNG<br>
		</div>
	</div> -->
	<div class="form-group col-sm-12">
		<div>
			<label class="control-label" style="width: 21%;"><font size="3">External URL Link </font></label>
		</div>
		<input class="form-control form-white" type="text" style="width:30%;" ng-model="addProduct.externalUrlLink">
	</div>
	<div class="form-group col-sm-12">
			<input type="checkbox" class="ng-pristine ng-valid" ng-model="addProduct.hideWebsite" name="newFlag" id="newflag"/>
			Automatically hide a collection from the website if it doesn't have any products
	
		</div> 
		
		 <div class="form-group col-sm-12" ng-if="addProduct.parentId == null">
	
			<input type="checkbox" class="ng-pristine ng-valid" ng-model="addProduct.subhideWebsite" name="newFlag" id="newflag"/>
			Hide sub-collections and products from the website.
	
		</div> 
	
	<!--<div class="form-group col-sm-12">
		<div>
			<label class="control-label " style="width: 40%;"><font size="3">ADD TO EXISTING MANUFACTURER</font></label>
		</div>
	<select id="section" class="from-control form-white" style="width:30%;height: 35px;" ng-model="mainCollection" ng-change="chengeSection()" required>

				<option ng-repeat="coll in mainCollections" value="{{coll}}">{{coll.collection}}</option>
			</select>

	</div>-->
		
	
	
	
	<div class="form-group col-sm-12">
		<div class="form-group col-sm-6">
		</div>
		<div class="form-group col-sm-6">
		   <div class="form-group col-sm-4">
		   	<input type="submit" class="btn btn-primary"  ng-click="setStatusvalue('publish')" value="Upload Images" style="margin-top:3%;margin-left:46%;">
		   </div>
		   <div class="form-group col-sm-4">
		   	<input type="submit" class="btn btn-primary"  ng-click="setStatusvalue('draft')" value="Edit Later" style="margin-top:3%;margin-left:46%;">
		   </div>
		   <div class="form-group col-sm-4">
		   	<input type="button" class="btn btn-primary"  ng-click="setOpenPopup()" value="Cancel" style="margin-top:3%;margin-left:46%;">
		   </div>
		</div>
	</div>
	
	
	
</form>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Delete Lead Type</h4>
								                </div>
								                <div class="modal-body">
								                    Are you sure you want to cancel?
													All of the changes will be lost<br>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">No</button>
								                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="cancelYes()">Yes</button>
								                </div>
								            </div>
								        </div>
								    </div>
