<div ng-init = viewVehiclesInit();>
    
    <h1><b>Where to Show</b></h1>
     <div class="col-md-12 form-group" style="margin-top: 50px;">
						<div class="col-md-1">
							
						</div>
						<div class="col-md-4">
							<select  class="form-control"  id="form_type" ng-model="editleadtype.profile"  ng-change="selectProfile(editleadtype.profile)" required>
									<option value="">---Select---</option>
									<option value="All Collections">All Collections</option>
									<option value="Select Collections Manually">Select Collections Manually</option>
									<option value="All Products">All Products</option>
									<option value="Select products Manually">Select products Manually</option>
							 </select>
						</div>
						 <div class="col-md-1" ng-if="editleadtype.profile != 'Select Collections Manually' && editleadtype.profile != 'Select products Manually'">     	
					        <button type="button" id="comparisonSale" class="btn btn-blue" ng-click="addCollectionAndProduct()">Save</button>
					     </div>  
</div>
     
</div>	
<div ng-if="editleadtype.profile == 'Select Collections Manually' || editleadtype.profile == 'Select products Manually'">
    <tabset class="nav-tabs2">
            <tab ng-repeat="coll in allCollectionDate" ng-if="coll.hideWebsite == false">
                <tab-heading>
                    <button type="button" class="btn btn-blue" ng-click="getCollectionData(coll)">{{coll.collection}}</button>
                </tab-heading>
			    
			</tab>
			
     </tabset>
       
     <tabset class="nav-tabs2">
            <tab ng-if="editleadtype.profile == 'Select Collections Manually'">
                <tab-heading>
                    <button type="button"  class="btn btn-blue" ng-click="newlyArrivedTab()">Collections</button>
                </tab-heading>			    
			</tab>
			<tab ng-if="editleadtype.profile == 'Select products Manually'">
                <tab-heading>
                    <button type="button"  class="btn btn-blue" ng-click="productTab()">Products</button>
                </tab-heading>			    
			</tab>
		                                 
     </tabset>  
     <div style="float:right;margin-top: -85px;">     	
     	
        <button ng-sec="Only View Inventory" type="button" id="comparisonSale" class="btn btn-blue" ng-click="addCollectionAndProduct()">Save</button>
     </div>  
    <div  ng-if="doPublic == 0">
     	<div id="grid1" ui-grid="gridOptions" class="grid"  style="height:500px;" ui-grid-edit ui-grid-pagination ui-grid-expandable></div>
	</div>         

	<div ng-if="doPublic == 4">
		<div  ui-grid="gridOptions4" style="height:500px;" ui-grid-edit ui-grid-pagination ui-grid-draggable-rows></div>
	</div>
	<div class="col-md-12" ng-if="doPublic == 3" style="text-align:right;"><button type="button" id="comparisonSale" class="btn btn-blue"  ng-click="addCollection()">Add Collection</button></div>
	    <div ng-if="doPublic == 3">
	    <div  style="margin-top:5%;" ng-show="flagForChart1" id="grid1" ui-grid="gridOptions3" style="height:500px;" ui-grid-edit ui-grid-pagination ui-grid-draggable-rows>
		   </div>  </div> 
</div>		 

 
<style>
.green {color: red;background-color:yellow !important;}

</style>    
<script>
	/*$(document).ready(function(){
	    $('.selectpicker').selectpicker();
	});*/
</script>
